/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Serif Display';
    background-color: #ffffff;
    color: #282727;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    justify-content: space-between; /* Espacio entre logo y links */
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
}

.nav-links {
    justify-content: space-evenly; /* Distribuye los enlaces equitativamente */
    flex: 1; /* Ocupa todo el espacio disponible */
}

.nav-links a {
    color: #f1eee9;
    text-decoration: none;
    margin: 0 20px; /* Separación entre los enlaces */
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.nav-links a:hover {
    transform: scale(1.1);
}

.logo {
    height: 50px;
    margin-right: auto; /* Empuja el logo hacia la izquierda */
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    background-color: #f1eee9;
    border-radius: 10px;
    margin: 20px;
}

.info h1 {
    font-size: 2.5rem;
    color: #c5a26e;
}

.info p {
    margin: 10px 0;
}

.buttons .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #c5a26e;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    border: none;
    font-size: 1.1em;
    transition: transform 0.3s ease-in-out;
}


.buttons .btn:hover {
transform: scale(1.1);
}

.countdown iframe {
    border-radius: 10px;
}





/* Estilo de la sección de bienvenida */
.seccion-bienvenida {
    align-items: center;
    justify-content: space-between;
    background-color: #f1eee9;
    padding: 40px;
    border-radius: 10px;
    max-width: 1200px;
    margin: 20px auto;
}

.texto-bienvenida {
    color: #282727;
    margin-right: 20px;
    text-align: left;
}

.texto-bienvenida h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #282727;
}

.texto-bienvenida span {
    color: #c5a26e;
    font-weight: bold;
}

.texto-bienvenida p {
    font-size: 1.2rem;
    margin-top: 10px;
}



.imagen-bienvenida img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}






/* Sección de artículos */
.articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Mantiene dos columnas */
    gap: 20px;
    margin: 20px;
    max-width: 800px; /* Limita el ancho total */
    margin: 20px auto; /* Centra la sección en la pantalla */
}

/* Tarjetas */
.articles article {
    background-color: #f1eee9;
    padding: 15px; /* Menos padding */
    border-radius: 10px;
    max-width: 350px; /* Limita el ancho máximo de cada tarjeta */
    margin: 0 auto; /* Centra las tarjetas dentro de su columna */
}

/* Imágenes dentro de las tarjetas */
.articles img {
    width: 100%;
    border-radius: 10px;
    max-height: 300px; /* Controla la altura de las imágenes */
    object-fit: cover; /* Asegura que las imágenes se adapten bien */
}

/* Botón de noticias centrado */
.btn-news {
    grid-column: span 2; /* Ocupa las dos columnas */
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #c5a26e;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s;
    border: none;
    font-size: 1.1em;
}

.btn-news button:hover {
    background-color: #f1eee9;
}




/* Estilo de la sección de películas más relevantes */
.seccion-relevantes {
    padding: 40px;
    background-color: #000;
    color: #f1eee9;
}

.seccion-relevantes h2 {
    font-size: 2rem;
    color: #c5a26e;
    margin-bottom: 20px;
}

.titulo-seccion {
    justify-content: space-between;
    margin-bottom: 20px;
}

.titulo-seccion h2 {
    font-size: 2rem;
    color: #f1eee9;
    transition: transform 0.3s ease-in-out;
}

.titulo-seccion h2:hover {
    transform: scale(1.1);
}

.titulo-seccion span {
    color: #c5a26e;
}

/* Contenedor para las películas */
.contenedor-peliculas {
    flex-direction: column;
    gap: 30px;
}

/* Estilo individual de cada película */
.pelicula {
    align-items: center;
    gap: 20px;
}

/* Imágenes de las películas */
.pelicula img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.pelicula img:hover {
    transform: scale(1.1);
}

/* Detalles de la película */
.detalle-pelicula {
    justify-content: space-between;
    text-align: left;
}

.detalle-pelicula h3 {
    justify-content: space-between;
    font-size: 1.8rem;
    color: #c5a26e;
}

.detalle-pelicula p {
    font-size: 1.2rem;
    color: #f1eee9;
    margin: 0;
}

.boton {
    text-align: center;
}

.boton button {
    background-color: #c5a26e;
    color: #000000;
    border: none;
    padding: 15px 30px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.boton button:hover {
    background-color: #f1eee9;
}




/* Footer */
.footer {
    align-items: center;
    text-align: center;
    background-color: #c5a26e;
    color: #f1eee9;
    padding: 20px;
}

.footer .social img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
}

/* Extra small devices (portrait phones, less than 576px)
No requiere para dispositivos pequeños
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .navbar {
        display: flex;
        justify-content: space-between; /* Espacio entre logo y links */
        align-items: center;
        padding: 10px 20px;
        background-color: #000;
    }
    
    
    
    .nav-links {
        display: flex;
        justify-content: space-evenly; /* Distribuye los enlaces equitativamente */
        flex: 1; /* Ocupa todo el espacio disponible */
    }
    
    
    .hero {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 40px 20px;
        background-color: #f1eee9;
        border-radius: 10px;
        margin: 20px;
    }
    
    
    .seccion-bienvenida {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f1eee9;
        padding: 40px;
        border-radius: 10px;
        max-width: 1200px;
        margin: 20px auto;
    }
    
    .texto-bienvenida {
        flex: 1;
        color: #282727;
        margin-right: 20px;
        text-align: left;
    }
    
    
    
    .imagen-bienvenida {
        flex: 1;
    }
    
    
    /* Botón de noticias centrado */
    .btn-news {
        grid-column: span 2; /* Ocupa las dos columnas */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: #c5a26e;
        color: #000;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        border-radius: 30px;
        transition: background-color 0.3s;
        border: none;
        font-size: 1.1em;
    }
    
    
    
    .titulo-seccion {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    /* Contenedor para las películas */
    .contenedor-peliculas {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    
    /* Estilo individual de cada película */
    .pelicula {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    
    /* Detalles de la película */
    .detalle-pelicula {
        flex: 1;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
    
    .detalle-pelicula h3 {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        color: #c5a26e;
    }
    
    
    
}